@import 'base';
@import 'colors';
@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~react-day-picker/lib/style.css';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $light-gray;
}

.app__navbar {
  background-color: $black;
  a {
    color: $darker-gray;
  }
}

.icon-calendar {
  @extend .fa;
  @extend .fa-calendar;
}

.icon-tag {
  @extend .fa;
  @extend .fa-tags;
}

.icon-trash {
  @extend .fa;
  @extend .fa-trash-o;
}

.calendar__container {
  margin: 0 auto;
  width: 25%;
}

.events__container {
  margin: 0 auto;
  padding-top: 50px;
  width: 35%;
  color: $darkest-gray;
}

.events__title {
  text-decoration: underline;
}

.event__container {
  border: 1px solid $darker-gray;
  margin-top: 20px;
  margin-bottom: 25px;
}

.event__date {
  display: inline-block;
  width: 15%;
  margin: 10px;
}

.event__date--month {
}

.event__date--day {
  font-weight: bold;
  font-size: 1.2rem;
  color: $black;
}

.event__body {
  display: inline-block;
  width: 70%;
}

.event__title {
  color: $orange;
}

.event__details {
  margin-top: 10px;
  font-size: 0.7rem;
}

.event__delete-button {
  display: inline-block;
  width: 10%;
  padding-left: 20px;
  vertical-align: top;
  a {
    color: $darkest-gray;
  }
}

.event__tag {
  width: 10%;
  position: relative;
  left: 90%;
  font-size: 0.4rem;
}

.make-appointment-button {
  margin: 0 auto;
  width: 20%;
  button {
    background-color: $orange;
    color: $white;
  }
}

