@import 'base';
@import 'colors';
@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~react-day-picker/lib/style.css';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $light-gray;
}

.app__navbar {
  background-color: $black;
  a {
    color: $darker-gray;
  }
}

.icon-calendar {
  @extend .fa;
  @extend .fa-calendar;
}

.icon-tag {
  @extend .fa;
  @extend .fa-tags;
}

.icon-trash {
  @extend .fa;
  @extend .fa-trash-o;
  @extend .icon-button;
}

.icon-close {
  @extend .fa;
  @extend .fa-times;
  @extend .icon-button;
}

.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.calendar__container {
  margin: 0 auto;
  width: 25%;
}

.events__container {
  margin: 0 auto;
  padding-top: 50px;
  width: 35%;
  color: $darkest-gray;
}

.events__title {
  text-decoration: underline;
}

.event__container {
  border: 1px solid $darker-gray;
  margin-top: 20px;
  margin-bottom: 25px;
}

.event__date {
  display: inline-block;
  width: 15%;
  margin: 10px;
}

.event__date--month {
}

.event__date--day {
  font-weight: bold;
  font-size: 1.2rem;
  color: $black;
}

.event__body {
  display: inline-block;
  width: 70%;
}

.event__title {
  color: $orange;
}

.event__details {
  margin-top: 10px;
  font-size: 0.7rem;
}

.event__delete-button {
  display: inline-block;
  width: 10%;
  padding-left: 20px;
  vertical-align: top;
  a {
    color: $darkest-gray;
  }
}

.event__tag {
  width: 10%;
  position: relative;
  left: 90%;
  font-size: 0.4rem;
}

.make-appointment-button {
  margin: 0 auto;
  width: 20%;
  button {
    background-color: $orange;
    color: $white;
    cursor: pointer;
  }
}

.make-appointment-form__container {
  margin-top:20px;
}

.make-appointment-form__label {
  margin: 0 auto;
  width: 20%;
  padding-bottom: 10px;
}

.make-appointment-form__field {
  margin: 0 auto;
  width: 30%;
  padding-bottom: 15px;
}

.make-appointment-form__field--what {
  margin: 0 auto;
  width: 42%;
  padding-bottom: 15px;

  input {
    width: 66%;
    display: inline-block;
  }
  select {
    margin-left: 10px;
    width: 30%;
    display: inline-block;
  }
}

.make-appointment-form__field--where {
  margin: 0 auto;
  width: 42%;
  padding-bottom: 15px;

  input {
    width: 100%;
  }
}

.make-appointment-form__time-labels{
  margin: 0 auto;
  width: 70%;
  padding-bottom: 10px;
}

.make-appointment-form__time-fields{
  margin: 0 auto;
  width: 80%;
  padding-bottom: 10px;
}

.make-appointment-form__start--label {
  display: inline-block;
  width: 50%;
}

.make-appointment-form__start--field {
  display: inline-block;
  width:50%;
}

.make-appointment-form__end--label {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.make-appointment-form__end--field {
  display: inline-block;
  width: 50%;
  text-align:center;
}

.make-appointment-form__button {
  margin: 0 auto;
  width: 28%;
  margin-top: 50px;
  button {
    background-color: $orange;
    color: $white;
    cursor: pointer;
  }
}

